@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
     font-family: "Rubik", sans-serif;
}
/* CUSTOM UTILITY CLASS*/
.d-flex{
  display: flex;
}

/* Main Wrapper */
.product-highlight {
  max-width: 1280px;
  margin: 0 auto;
  padding: 4rem 1rem;
}

/* Top Section: Image + Text */
.product-wrapper {
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.product-visual img {
  max-width: 100%;
  height: auto;
  display: block;
}

.product-info {
  flex: 1;
  min-width: 300px;
}

.product-info h1 {
  font-size: 2.2rem;
  margin-bottom: 3rem;
  p{
    font-size: 58px;
  }
}

.product-info .accent {
  color: #cc4444;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 0.2rem;
}


.product-info p {
  font-size: 20px;
  line-height: 28px;
  font-weight: 300;

}

.btn {
  background-color: #ffd700;
  color: #000;
  text-decoration: none;
  font-weight: bold;
  padding: 0.8rem 1.5rem;
  border-radius: 5px;
}

/* DONT CHANGE THIS ORDER */
.maeng-da{
background: transparent url('./assets/images/l1.png') 0% 0% no-repeat padding-box;
 background-size: contain;
}
.strain-item:focus {
  background-image: url('./assets/images/foccus.png') !important;
}
.maeng-da:hover {
  background-image: url('./assets/images/l-2.png');
}
.red-bali{
   background: transparent url('./assets/images/red.png') 0% 0% no-repeat padding-box;
}

.red-bali:hover {
  background-image: url('./assets/images/red-2.png');
}
.gold {
  background: transparent url('./assets/images/gold.png') 0% 0% no-repeat padding-box;
}

.gold:hover {
  background-image: url('./assets/images/gold-2.png');
}

.trainwreck {
  background: transparent url('./assets/images/coper.png') 0% 0% no-repeat padding-box;
}

.trainwreck:hover {
  background-image: url('./assets/images/coper-2.png');
}

.green-malay {
  background: transparent url('./assets/images/green.png') 0% 0% no-repeat padding-box;
}

.green-malay:hover {
  background-image: url('./assets/images/green-2.png');
}

.white-borneo {
  background: transparent url('./assets/images/sky-2.png') 0% 0% no-repeat padding-box;
}

.white-borneo:hover {
  background-image: url('./assets/images/sky.png');
}

.white-thai {
  background: transparent url('./assets/images/faded.png') 0% 0% no-repeat padding-box;
}

.white-thai:hover {
  background-image: url('./assets/images/faded-2.png');
}
.strain-item {
  
  width: 143px; 
  height: 172px; 
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  transition: background-image .4s ease;
  
}

/* DONT CHANGE Above ORDER */
